<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="images/weather.png">
        <link rel="stylesheet" href="css/styles.css">
        <script src="/js/app.js"></script>
    </head>
    <div class="main_content">
        <body>
            {{>header}}
            <p>{{name}}</p>
            <img class="portrait" src="../images/robot.png">
            <p>email me at azarateo@gmail.com</p>
        </body>
    </div>
    {{>footer}}
</html>
