<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="images/weather.png">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <div class="main_content">
        <body>
            {{>header}}
            <p>This website was created by {{name}} as part of a Udemy Course on NodeJS By Andrew Mead.</p>
            <img class="portrait" src="../images/robot.png">
            <p>email me at azarateo@gmail.com</p>
        </body>
    </div>
    {{>footer}}
</html>
