<!DOCTYPE html>
<html>
   <head>
        <title>{{title}}</title>
        <link rel="icon" href="images/weather.png">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <div class="main_content">
        <body>
            {{>header}}
            <p>If you want some {{title}} then email azarateo@gmail.com</p>
        </body>
    </div>
    {{>footer}}
</html>
