<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/app.js"></script>
    </head>
    <body>
        <h1>{{author}}</h1>
        <h2>email me at azarateo@gmail.com</h2>
        <img src="../images/robot.png">
    </body>
</html>
